.movie-info {
    color: #b4b4b4;
}

.movie-info .title a {
    display: inline-block;
    text-decoration: none;
    color: #717171;
    font-size: 18px;
    font-weight: normal;
    padding: 20px;
}

.movie-info .title a:hover {
    cursor: pointer;
}

.movie-info .description {
    padding: 0 20px;
    margin: 20px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 66px;
}

.movie-info .genre {
    padding: 0 20px;
}

.movie-info .rating {
    display: flex;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    border-top: 1px solid #e9e9e9;
    justify-content: space-between;
    align-items: center;
}

.movie-info .rating > .fb {
    font-size: 1.5rem;
    margin-right: 10px;
}