.genres-list{
    margin-top: 50px;
}
.genres-list ul li{
    list-style: none;
    color: #717171;
    margin-bottom: 10px;
}
.genres-list ul li:hover,
.genres-list ul li:active,
.genres-list ul li:focus{
    color: #48b4ce;
}
.genres-list ul li:hover{
    cursor: pointer;
}
.genres-list ul li.active-genre{
    color: #48b4ce;
    font-weight: bold;
}