@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Open Sans', sans-serif;
}

.App.theme-light {
    background-color: #f0efee;
}

.App.theme-dark {
    background-color: #c7c7c7;
}

.App > .container.loading {
    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #717171;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

h1 {
    font-weight: normal;
}

